<footer class="sgds-footer">
  <div class="top-section has-background-{{site.footer_background}}">
    <div class="sgds-container">
      <div class="row">
        <div class="col header">
          <h5 class="has-text-{{site.footer_text_color}}">
            <b>{{ site.title }}</b>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col is-3">
          <p class="has-text-{{site.footer_text_color}}"><b>{{ site.footer.userguides }}</b></p>
          <p>
            <a href="{{ site.footer.userguides_1_link }}">{{ site.footer.userguides_1 }}</a>
          </p>
          <p>
            <a href="{{ site.footer.userguides_2_link }}"
              >{{ site.footer.userguides_2 }}</a
            >
          </p>
          <p><a href="{{ site.footer.userguides_3_link }}">{{ site.footer.userguides_3 }}</a></p>
        </div>
        <div class="col is-3">
          <p class="has-text-{{site.footer_text_color}}"><b>{{ site.footer.others }}</b></p>
          <p><a href="{{ site.footer.others_1_link }}">{{ site.footer.others_1 }}</a></p>
          <p><a href="{{ site.footer.others_2_link }}">{{ site.footer.others_2 }}</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col is-right-desktop-only">
          <ul>
            <li class="is-inline-block-desktop-only">
              <!--Tools questionaire-->
              <p><a href="{{ site.contact_us_link }}" target="_blank">{{ site.contact_us }}</a></p>
            </li>
            <li class="is-inline-block-desktop-only">
              <!--Feedback form-->
              <p>
                <a href="{{ site.feedback_form_link }}" target="_blank">{{ site.feedback_form}}</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-section has-background-{{site.footer_bottom-section_background}}">
    <div class="sgds-container ">
      <div class="row is-multiline">
        <div class="col is-12">
          <ul>
            <li>
              <a href="{{ site.report_vulnerability_link }}" target="_blank"
                >{{ site.report_vulnerability }}</a
              >
            </li>
            <li><a href="{{ site.privacy_link }}">{{ site.privacy }}</a></li>
            <li><a href="{{ site.terms_link }}">{{ site.terms }}</a></li>
          </ul>
        </div>
        <div
          class="col is-12 has-text-right-desktop has-text-right-tablet has-text-left-mobile"
        >
          <p class="is-hidden-touch">
            © {{ site.time | date: "%Y" }} {{ site.last_updated }}
            {{site.time | date_to_string -}}
          </p>
          <p class="is-hidden-desktop">
            © {{ site.time | date: "%Y" }} Government of Singapore
          </p>
          <p class="is-hidden-desktop last-updated">
            Last Updated {{site.time | date_to_string -}}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
