<section
  class="sgds-section has-background-{{ site.visit_docs_section_background }}"
  style="background: url('/assets/img/bg_splash.png') center center; background-size:cover;"
>
  <div class="sgds-container ">
    <div class="row has-text-centered">
      <div class="col">
        <p class="has-text-{{ site.visit_docs_section_text_color }} is-size-4 has-text-weight-bold margin--bottom--lg">
          {{ page.visit-docs-section }}         
        </p>
        <a
          class="sgds-button is-{{ site.visit_docs_section_button_color }} is-{{ site.visit_docs_section_button_type }}"
          href="{{ page.visit-docs-section_button_link }}"
          >{{ page.visit-docs-section_button }}</a
        >
      </div>
    </div>
  </div>
</section>
