---
layout: layout-default
---

<section class="sgds-section">
  <div class="sgds-container">
<div class="content is-{{site.h2_color}}">
    <div class="row has-text-centered">
        <div class="col is-10 is-offset-1">
            <h2>
                {{ page.guides_main }}
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col is-10 is-offset-1">
            <div class="row card-section">
                <div class="col is-4 is-flex">
                    <a href={{ page.guides_item_1_link }}>
                        <div class="sgds-card sgds-card-button">
                            <div class="sgds-card-image">
                                <figure class="sgds-image is-16by9">
                                    <img src={{ page.guides_item_1_image }} alt="Development Guides" />
                                </figure>
                            </div>
                            <div class="sgds-card-content has-text-centered ">
                                <p class="has-text-weight-semibold is-size-6">
                                    {{ page.guides_item_1 }}
                                </p>
                                <p>
                                 {{ page.guides_item_1_description }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col is-4 is-flex">
                    <a href={{ page.guides_item_2_link }}>
                        <div class="sgds-card sgds-card-button">
                            <div class="sgds-card-image">
                                <figure class="sgds-image is-16by9">
                                    <img src={{ page.guides_item_2_image }} alt="Development Guides" />
                                </figure>
                            </div>
                            <div class="sgds-card-content has-text-centered">
                                <p class="has-text-weight-semibold is-size-6">
                                    {{ page.guides_item_2 }}
                                </p>
                                <p>
                                    {{ page.guides_item_2_description }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col is-4 is-flex">
                    <a href={{ page.guides_item_3_link }}>
                        <div class="sgds-card sgds-card-button">
                            <div class="sgds-card-image">
                                <figure class="sgds-image is-16by9">
                                    <img src={{ page.guides_item_3_image }} alt="Development Guides" />
                                </figure>
                            </div>
                            <div class="sgds-card-content has-text-centered">
                                <p class="has-text-weight-semibold is-size-6">
                                    {{ page.guides_item_3 }}
                                </p>
                                <p>
                                    {{ page.guides_item_3_description }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
  
  </div>
</section>

{%- include visit-docs-section.html -%}
