---
layout: layout-default
---

<section class="sgds-section hide-element" style="padding-top:24px;">
    <div class="header_bg has-background-{{ site.home_intro_background_color}}"></div>
    <div class="sgds-container">
        <div class="content">
            <div class="row">
                <div class="col is-5 is-flex hero-main">
                    <h1 class="has-text-weight-black">
                    {{ page.content_intro }}
                    </h1>
                    <p class="has-text-weight-normal margin--top">
                        <a href="https://www.npmjs.com/package/sgds-govtech" rel="nofollow">
                            <img src="https://camo.githubusercontent.com/d67d0f2e78ffeaba0b1dec22e6d9d9d9207fa43a/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f762f736764732d676f76746563682e737667" 
                            alt="npm" 
                            data-canonical-src="https://img.shields.io/npm/v/sgds-govtech.svg" 
                            style="max-width:100%;">
                        </a>
                        <br />
                    {{ page.content_intro_description }}
                    </p>
                    <a href="/docs/" class="sgds-button is-{{ site.home_intro_button_type }} is-{{ site.home_intro_button_color }} ">{{ page.content_intro_button_link }}</a>
                </div>

                <div class="col">
                    <img
                        src= {{ page.content_intro_img }}
                        alt="two people around web browsers and mobile browsers"
                    />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sgds-section" style="padding-top:0px;">
    <div class="sgds-container ">
        <div class="content">
            <div class="row">
                <div class="col">
                    <a href= {{ page.content_component_link }}>
                        <div class="sgds-card-button has-outline">
                            <div class="sgds-card-image has-text-centered">
                                <figure class="card-icon has-text-centered">
                                    <img alt="Components" src={{ page.content_component_img }} alt="lady adding components to a web browser" />
                                </figure>
                            </div>
                            <div class="sgds-card-content has-text-centered">
                                <p class="has-text-weight-bold is-size-4 margin--bottom--none">{{ page.content_component }}</p>
                                <p>
                                    {{ page.content_component_head }}
                                </p>
                                <div class="content is-small">
                                   {{ page.content_component_description }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        
              <div class="col">
                <a href={{ page.content_guides_link }}>
                    <div class="sgds-card-button has-outline">
                        <div class="sgds-card-image">
                            <figure class="card-icon has-text-centered">
                                <img alt="Guidelines" src={{ page.content_guides_img }} alt="man pointing to documentation on a computer" />
                            </figure>
                        </div>
                        <div class="sgds-card-content has-text-centered">
                            <p class="has-text-weight-bold is-size-4 margin--bottom--none">{{ page.content_guides}}</p> 
                            <p>
                                {{ page.content_guides_head }}
                            </p>
                            <div class="content is-small">
                                {{ page.content_guides_description }}
                            </div>
                        </div>
                    </div>
                  </a>
              </div>
            </div>
        </div>
    </div>
</section>

<section class="sgds-section">
    <div class="sgds-container">
        <div class="content is-{{site.h2_color}}">
            <div class="row has-text-centered">
                <div class="col">
                    <h2 class="has-text-weight-black">{{ page.container_item_head }}</h2>
                </div>
            </div>
            <div class="row has-text-centered">
                <div class="col">
                    <div class="row is-multiline">
                        <div class="col is-4 padding">
                            <span class="sgds-icon sgds-icon-expand-alt is-size-3"></span>
                            <p class="margin--top margin--bottom--xs has-text-weight-bold is-size-5">
                                {{ page.container_item_1 }}
                            </p>
                            <p>{{ page.container_item_1_1 }} </p>
                        </div>
                        <div class="col is-4 padding">
                            <span class="sgds-icon sgds-icon-layers is-size-3"></span>
                            <p class="margin--top margin--bottom--xs has-text-weight-bold is-size-5">
                                {{ page.container_item_2 }}
                            </p>
                            <p>{{ page.container_item_2_1 }} </p>
                        </div>
                        <div class="col is-4 padding">
                            <span class="sgds-icon sgds-icon-thumbs-up is-size-3"></span>
                            <p class="margin--top margin--bottom--xs has-text-weight-bold is-size-5">
                                {{ page.container_item_3 }}
                            </p>
                            <p>{{ page.container_item_3_1 }} </p>
                        </div>
                        <div class="col is-4 padding">
                            <span class="sgds-icon sgds-icon-sync is-size-3"></span>
                            <p class="margin--top margin--bottom--xs has-text-weight-bold is-size-5">
                                {{ page.container_item_4 }}
                            </p>
                            <p>{{ page.container_item_4_1 }} </p>
                        </div>
                        <div class="col is-4 padding">
                            <span class="sgds-icon sgds-icon-cog is-size-3"></span>
                            <p class="margin--top margin--bottom--xs has-text-weight-bold is-size-5">
                                {{ page.container_item_5 }}
                            </p>
                            <p>{{ page.container_item_5_1 }} </p>
                        </div>
                        <div class="col is-4 padding">
                            <span class="sgds-icon sgds-icon-person is-size-3"></span>
                            <p class="margin--top margin--bottom--xs has-text-weight-bold is-size-5">
                                {{ page.container_item_6 }}
                            </p>
                            <p>
                                {{ page.container_item_6_1 }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row has-text-centered">
                <div class="col margin--top--lg">
                    <a class="sgds-button is-{{site.home_section_button_color}} is-{{site.home_section_button_type}}" role="button" href={{ page.button_1_link }}>
                        {{ page.button_1 }}</a
                    >
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sgds-section has-background-gradient-{{ site.home_footer_section_background_color }}">
    <div class="sgds-container">
        <div class="content has-text-white">
            <div class="row has-text-centered">
                <div class="col is-10 is-offset-1">
                    <h2 class="has-text-white">{{ page.section_title }}</h2>
                </div>
            </div>
            <div class="row has-text-centered">
                <div class="col is-8 is-offset-2">
                    <img src="{{ page.section_img }}" alt="two ladies meeting" />
                    <p class="has-text-white">
                      {{ page.section_subtitle }}
                    </p>
                    <p class="has-text-white">
                        {{ page.section_body }}
                    </p>
                </div>
            </div>
            <hr>
            <div class="row has-text-centered padding--top is-multiline">
                <div class="col is-4 is-offset-2">
                    
                        <p>{{ page.section_1 }}</p>
                        <a
                            class="sgds-button is-rounded is-outlined is-white margin--left margin--right"
                            href="{{ page.section_1_link }}"
                            target="_blank"
                            style="margin: auto 0;"
                            >{{ page.section_1_button }}</a
                        >
                    
                </div>
                <div class="col is-4">
                        <p>{{ page.section_2 }}</p>
                        <a
                            class="sgds-button is-rounded is-outlined is-white"
                            href="{{ site.feedback_form }}"
                            target="_blank"
                            
                            >{{ page.section_2_button }}</a
                        >
                </div>
            </div>
        </div>
    </div>
</section>
